body {
    margin: 0;
}
// article for the application
article {
    position: absolute;
    background-color: #888;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.play-area {
    position: absolute;
    max-height: 100vh;
    background-color: #ccc;

    .render-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.background {
    max-height: 100vh;
}

.menu-list {
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto [center] max-content auto;
    grid-template-rows: auto [center] auto auto;

    .menu-wrapper {
        height: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        grid-row-start: center;
        grid-column-start: center;
        color: #ccc;
        font-size: 4vh;

        .menu-item {
            text-align: center;
            &:hover {
                cursor: pointer;
            }
            &.selected {
                color: white;
            }
        }
    }
}

.play-zone {
    position: absolute;
    height: 100%;
    width: 100%;
    $font-size: 2vh;

    .meteor {
        position: absolute;
        height: 20%;

        .meteor-img {
            position: absolute;
            height: 100%;
        }

        .meteor-text {
            position: absolute;
            bottom: 10%;
            background-color: white;
            border-radius: 0.25em;
            padding: 0.25em;
            font-size: $font-size;
        }
    }

    .type-area {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .meteor-score {
        position: absolute;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 5em;
        color: white;
        font-size: 2.5vh;
        text-shadow: 0.125em 0.125em black;
        grid-gap: 0.5em;
        .score-desc {
            text-align: right;
        }
        // .score-value {

        // }
    }
}

.strike {
    text-decoration: line-through;
}
